# dotfiles project gitattributes file
#  https://github.com/github-linguist/linguist/blob/master/docs/overrides.md

# To prevent CRLF breakages on Windows for fragile files, like testdata.
* -text

docs                                 linguist-documentation
