{{ define "header" }}
{{ range .Comments }}{{ . }}
{{ end -}}
package {{ .Package }}

import (
	{{ range .Imports }}{{ .Name }} {{ .Path }}
	{{ end -}}
	gocmp "github.com/google/go-cmp/cmp"
)
{{ end }}
